# Server
HOST='0.0.0.0'
PORT=8000
API_VERSION=/api/v1

# Privy Auth
PRIVY_JWSK_URL=https://auth.privy.io/api/v1/apps/YOUR_APP_ID/jwks.json
PRIVY_APP_ID=YOUR_APP_ID

# MongoDB
MONGO_URI='mongodb+srv://<username>:<password>@cluster0.xzy.mongodb.net/?retryWrites=true&w=majority'
# MONGO_HOST='0.0.0.0'
# MONGO_PORT=27017
# MONGO_INITDB_ROOT_USERNAME=root
# MONGO_INITDB_ROOT_PASSWORD=your_mongo_password
# MONGO_INITDB_DATABASE=athenax_db

# Redis
REDIS_URL=redis://0.0.0.0:6379

# Cloudflare R2
R2_TOKEN_VALUE=your_r2_token
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
R2_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com

# Email
EMAIL_FROM='your_email@gmail.com'
EMAIL_TO='contact@yourdomain.com'
EMAIL_PWD='your_app_password'
MODE='prod'

# Security
AUTH_PEPPER=your_pepper_string
SECRET_KEY=your_jwt_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60